<p>Change Your Password</p>


<%= form_for :user, url:reset_path, method: :patch do |f|%>
<%= f.label :password %>
<%= f.password_field :password, autofocus: true%>

<%= f.submit "Reset Password"%>

<% end %>
