<div class="panel panel-default text-center" style="width:100%">
    <div class="panel-body">
      <h1>New School</h1>
    </div>
    <ul class="list-group">
        <li class="list-group-item">
            <%= render 'form' %>
        </li>   
    </ul>
</div>