.panel {
  display: inline-block;
  width: 21%;
  margin-right: 3%;
}
.logoSchool {
    border-radius: 30px;
    width: 150px;
    height: 150px;
}
.profilePicture{
    border-radius: 100px;
}
.miniPicture{
    border-radius: 100px;
    width: 100px;
    height: 100px;
}
.verticalLine {
    border-left: thick solid gray;
}